
<body>
    <div class="container  text-center mt-5" style="width:300px;" >
        
        <div class="container bg-light p-5" id="border">
            <img class ="image"src="\assets\images\download.jpg" alt="">
            <h4>My Bank</h4>
            <h6 >{{aim}}</h6>
            <br>

             <div><input [(ngModel)]="acno" id="log_acno" class="container-fluid mt-3" type="text" [placeholder]="account"></div>
            <div><input  [(ngModel)]="pswd" id="log_pswd" class="container-fluid mt-3" type="text" placeholder="Password"></div>
            <div class="d-grid gap-2">
                <input type="button" (click)="login()" value="Login" id="login" class="btn btn-primary mt-3">
                <a href="signup">forgot password? <br> signup</a>
            </div>
        </div>


    </div>
</body>