<button class="btn btn-warning mt-3" style="float: right;"(click)="logout()">Logout</button>
<button class="btn btn-danger mt-3 m-3" style="float: right;"(click)="delete()">Delete</button>


<div class="parent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="/transaction" id="th">view transaction history</a>   
    <h4>System Date and Time:{{sdate}}</h4>
    <h1 style="text-align:center">Welcome {{user}}</h1>

     <!-- child component -->
     <app-delete [item]="acno" (onCancel)="onCancel()"></app-delete>
    <!-- user defined event -->


    <div class="child" [ngClass]="acno? 'style1':''">
        <form action="" [formGroup]="depositForm">
            <div class="container  text-center mt-5" style="width:300px;" >
                
                <div class="container bg-light p-5" id="border">
                    <img class ="image"src="\assets\images\download.jpg" alt="">
                    <h4>Deposit</h4><br>
        
                     <div><input formControlName="acno1" name="acno1" id="acno1" class="container-fluid mt-3" type="text" placeholder="Account Number"></div>
                     <div *ngIf="this.depositForm.get('acno1')?.errors && this.depositForm.get('acno1')?.touched"style="color: red;">Invalid account number</div>
                    
                     <div><input formControlName="pswd1" name="pswd1" id="pswd1" class="container-fluid mt-3" type="password" placeholder="Password"></div>
                     <div *ngIf="this.depositForm.get('pswd1')?.errors && this.depositForm.get('pswd1')?.touched"style="color: red;">Invalid password</div>
                    
                     <div><input formControlName="amount1" name="amount1" id="amount1" class="container-fluid mt-3" type="text" placeholder="Amount"></div>
                     <div *ngIf="this.depositForm.get('amount1')?.errors && this.depositForm.get('amount1')?.touched"style="color: red;">Invalid Amount</div>
                     <div class="d-grid gap-2">
                        <input (click)="deposit()" type="submit"  value="Deposit" id="deposit" class="btn btn-primary mt-3">
                        <!-- <a href="">Sign in</a> -->
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="child" [ngClass]="acno? 'style1':''">
        <form action="" [formGroup]="withdrawForm">
        <div class="container  text-center mt-5" style="width:300px;" >
                
            <div class="container bg-light p-5" id="border">
                <img class ="image"src="\assets\images\download.jpg" alt="">
                <h4>withdraw</h4><br>
    
                 <div><input formControlName="acno" name="acno2" id="acno2" class="container-fluid mt-3" type="text" placeholder="Account Number"></div>
                 <div *ngIf="this.withdrawForm.get('acno')?.errors && this.withdrawForm.get('acno')?.touched"style="color: red;">Invalid account number</div>
                     
                 <div><input formControlName="pswd" name="pswd2"id="pswd2" class="container-fluid mt-3" type="password" placeholder="Password"></div>
                 <div *ngIf="this.withdrawForm.get('pswd')?.errors && this.withdrawForm.get('pswd')?.touched"style="color: red;">Invalid password</div>
                      
                 <div><input formControlName="amount" name="amount2" id="amount2" class="container-fluid mt-3" type="text" placeholder="Amount"></div>
                 <div *ngIf="this.withdrawForm.get('amount')?.errors && this.withdrawForm.get('amount')?.touched"style="color: red;">Invalid amount</div>
                   
                 <div class="d-grid gap-2">
                    <input (click)="withdraw()" type="submit"  value="withdraw" id="withdraw" class="btn btn-primary mt-3">
                    <!-- <a href="">Sign in</a> -->
                </div>
            </div>
        </div>
    </form>
    </div>
</div>
